---
layout: default
page: discography
---
<div class="discography">
	<h1>is it tomorrow?</h1>
	<h1>OUT NOW</h1>
	<div class="new-album">
		<div class="na-pane">
			<img src="/assets/img/artwork/ISITTOMORROW.jpg">
		</div>
		<div class="na-pane">
			<div class="links">
				<a href="{{ page.spotify_link }}"><i class="fa fa-spotify"></i> SPOTIFY</a>
				<a href="{{ page.google_link }}"><i class="fa fa-google"></i> GOOGLE PLAY</a>
				<a href="{{ page.apple_link }}"><i class="fa fa-apple"></i> APPLE MUSIC</a>
				<a href="{{ page.amazon_link }}"><i class="fa fa-amazon"></i> AMAZON MUSIC</a>
			</div>
		</div>
	</div>
	<h1>singles</h1>
	{% assign sorted = (site.singles | sort:'order') | reverse %}
	{% for piece in sorted %}
		<a href="/singles/{{ piece.title | downcase }}.html">
			<div class="card">
				<img src="/assets/img/artwork/{{ piece.title }}.jpg">
				<div class="blurb">
					<a href="/singles/{{ piece.title | downcase }}.html">{{ piece.title | downcase }}</a>
					<p> {{ piece.year }} </p>
				</div>
			</div>
		</a>
	{% endfor %}


	<h1>other compositions</h1>
	{% assign sorted = (site.chorals | sort:'order') | reverse %}
	{% for piece in sorted %}
		<a href="{{ piece.link }}">
			<div class="card">
				<img src="/assets/img/artwork/{{ piece.title }}.jpg">
				<div class="blurb">
					<a href="{{ piece.link }}">{{ piece.title | downcase }}</a>
					<p> {{ piece.year }} </p>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
