---
layout: default
page: discography
---
<div class="discography">
	<h1>SINGLES</h1>
	{% assign sorted = (site.singles | sort: 'order') | reverse %}
	{% for piece in sorted %}
		<a href="/singles/{{ piece.title | downcase }}.html">
			<div class="card">
				<img src="/assets/img/artwork/{{ piece.title }}.jpg">
				<div class="blurb">
					<a href="/singles/{{ piece.title | downcase }}.html">{{ piece.title }}</a>
					<p> {{ piece.year }} </p>
				</div>
			</div>
		</a>
	{% endfor %}


	<h1>CHORAL PIECES</h1>
	{% assign sorted = (site.chorals | sort: 'order') | reverse %}
	{% for piece in sorted %}
	<h1>OTHER COMPOSITIONS</h1>
	{% for piece in site.chorals reversed %}
		<a href="{{ piece.link }}">
			<div class="card">
				<img src="/assets/img/artwork/{{ piece.title }}.jpg">
				<div class="blurb">
					<a href="{{ piece.link }}">{{ piece.title }}</a>
					<p> {{ piece.content }} </p>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
