.discography {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.discography h1 {
	font-family: "futurabold";
	color: #f6e8dd;
	width: 100%;

	font-size: 10vw;
}

.card {
	display: flex;
	flex-direction: column;

	margin: 10px;

	justify-content: center;
	text-align: center;

	/* box-shadow: 0 0 5px #999; */
}

.card img {
	padding: 5px;
	width: 256px;
	height: 256px;
}

.card img:hover {
	opacity: 0.7;
}

.new-album {
	display: flex;
	flex-direction: column;
	width: 100%;

	margin: 10px;

	align-items: center;
	justify-content: center;
	text-align: center;
	color: #f6e8dd;
	font-family: "spectral";
}

.na-pane {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.new-album img {
	width: 256px;
	height: 256px;
}

.blurb {
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-wrap: break-word;
}

.blurb a {
	font-family: "futurabold";
	color: #f6e8dd;
	text-decoration: none;

	font-size: 5vw;
}

.blurb p {
	font-family: "futurabold";
	color: #f6e8dd;
	text-decoration: none;

	font-size: 5vw;
}

.links {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.links a {
	font-family: "spectral";
	color: #f6e8dd;
	text-decoration: none;

	padding: 5px;
	font-size: 5vw;
}

@media (min-width: 768px) {
	.new-album {
		flex-direction: row;
	}
	.new-album img {
		width: 512px;
		height: 512px;
	}

	.discography h1 {
		font-size: 5vw;
	}

	.card {
		width: 20%;
	}

	.card a {
		font-size: 1vw;
	}

	.card p {
		font-size: 0.8vw;
	}

	.new-album a {
		font-size: 1.2vw;
	}
	.new-album p {
		font-size: 1.2vw;
	}

	.links a {
		font-size: 1.2vw;
	}
}