html, body {
	background-color: #f6e8dd;
	margin: 0;
}

body {
	height: 100%;
}

ul {
	list-style-type: none;
}

li {
	float: left;
}

.bar {
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #f6e8dd;

	list-style-type: none;

	width: 100%;
}

.bar a {
	padding-left: 1vw;
	padding-right: 1vw;
	text-decoration: none;
	font-family: "spectral";
	color: #000000;
}

.socials a {
	font-size: 8vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
}

.socials a:hover {
	font-family: "futurabold";
}

.header a {
	font-size: 8vw;
}

.nav a {
	font-size: 4vw;
}

.nav a:hover {
	font-family: "futurabold";
}

.footer {
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-top: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	margin-top: 5%;
}

@media (min-width: 768px) {
	.socials a {
		font-size: 1.6vw;
	}

	.header a {
		font-size: 1.6vw;
	}

	.nav a {
		font-size: 1vw;
	}

	.footer {
		flex-direction: row;
	}
}