.piece-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.piece h1 {
	font-family: "futurabold";
	color: #000000;
	width: 100%;

	font-size: 2vw;
}

.piece h3 {
	font-family: "spectral";
	color: #000000;
	text-decoration: none;

	font-size: 1.6vw;
}

.piece img {
	width: 384px;
	height: 384px;
}

.links {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.links a {
	font-family: "spectral";
	color: #000000;
	text-decoration: none;

	padding: 5px;
	font-size: 1.2vw;
}

.links a:hover {
	font-family: "futurabold";
}