.videos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.videos iframe {
	flex-basis: 33.33333%;

	margin-top: 2vh;
	margin-bottom: 2vh;
}

.filler {
	margin-top: 19%;
}


@media (min-width: 768px) {
	.videos {
		flex-direction: row;
	}

	.videos iframe {
		margin-left: 2vw;
		margin-right: 2vw;
		margin-top: 2vh;
		margin-bottom: 2vh;
	}
}
