.videos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}

.videos iframe {
	width: 80%;

	margin-top: 2vh;
	margin-bottom: 2vh;
}

.filler {
	margin-top: 19%;
}


@media (min-width: 768px) {
	.videos {
		flex-direction: row;
	}

	.videos iframe {
		width: 540px;
		height: 260px;

		margin-left: 2vw;
		margin-right: 2vw;
	}
}
