<!DOCTYPE html>
<html>
<head>
	<title>jarran ahaz</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/header.css">
	<link rel="stylesheet" href="/assets/css/fonts.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">

	<link rel="stylesheet" href="/assets/css/{{ page.page }}.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

</head>
<body>
	<div class="header bar">
		<a href="/index.html">jarran ahaz</a>
	</div>
	<ul class="socials bar">
		<li><a href="https://twitter.com/jarranahaz"><i class="fa fa-twitter"></i></a></li>
		
		<li><a href="https://www.instagram.com/jarranahaz/"><i class="fa fa-instagram"></i></a></li>
		
		<li><a href="https://open.spotify.com/artist/0i9gGMwqtPFGSujfRriAoR"><i class="fa fa-spotify"></i></a></li>

		<li><a href="https://itunes.apple.com/us/artist/jarran-ahaz/1255276417"><i class="fa fa-apple"></i></a></li>

		<li><a href="https://www.facebook.com/jarranahaz/"><i class="fa fa-facebook"></i></a></li>

		<li><a href="https://www.youtube.com/channel/UCSDFYLvIWvTjBbPFhRYuy6g"><i class="fa fa-youtube"></i></a></li>

		<li><a href="mailto:jarranarmstrong17@gmail.com"><i class="fa fa-envelope"></i></a></li>

	</ul>
	<ul class="nav bar">
		{% if page.page == "about" %}
			<li><a style="font-weight: bold;" href="/about.html">about</a></li>
		{% else %}
			<li><a href="/about.html">about</a></li>
		{% endif %}

		{% if page.page == "discography" %}
			<li><a style="font-weight: bold;" href="/index.html">discography</a></li>
		{% else %}
			<li><a href="/index.html">discography</a></li>
		{% endif %}

		{% if page.page == "photos" %}
			<li><a style="font-weight: bold;" href="/photos.html">photos</a></li>
		{% else %}
			<li><a href="/photos.html">photos</a></li>
		{% endif %}

		{% if page.page == "videos" %}
			<li><a style="font-weight: bold;" href="/videos.html">videos</a></li>
		{% else %}
			<li><a href="/videos.html">videos</a></li>
		{% endif %}
	</ul>

	{{ content }}

	<div class="footer bar">
		<a>SITE DESIGN BY MATT WYATT</a>
		<a style="margin-right: -1.6vw">CONTACT JARRAN //</a>
		<a href="mailto:JARRANAHAZCONTACT@GMAIL.COM">JARRANAHAZCONTACT@GMAIL.COM</a>
	</div>
</body>
</html>